.TheShoppies {
    background-color: #004C3F;
}

.MovieListContainer {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TheShoppiesHeader {
  min-height: 8vh;
  color: #C0F0CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
}
