.Movie {
    list-style: none;
    border: 1px solid #C0F0CF;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px;
    margin: 0.17rem 0;
    padding: 0.5rem 1rem;
    width: auto;
    color: white;
}

.MovieRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.MoviePoster {
    margin-right: 0.5rem;
    height: 3rem;
}

.MovieInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}